.outer {
    text-align: center;
  }
  .outer:before {
    content: '';
    display: inline-block;
    height: 50%;
    vertical-align: middle;
  }
  
  .inner {
    display: inline-block;
    vertical-align: middle;
  }
  .image-verify{
      width: 50px;
      height: 50px;
  }